<!DOCTYPE html>
<html lang="en">
<head>
 <% include partial/head %>
</head>
<body>
<% include partial/menu %><div class="container-fluid bg-3 text-center">
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p><%= content %></p>

  </div>
</div></body>
<% include partial/scripts %>
</html>
